# Folders to ignore #
OutputRoot/
TestResults/
BuildOutput/
bin/
obj/
logs/
_UpgradeReport_Files/
packages/
build-out

# Known files to ignore always #
*.suo
*.user
~*.docx
msbuild*.log
.dbshell
*.private
UpgradeLog*.xml